{{ form_start(form, {'attr': {'id': 'edit-expense-form', 'novalidate': 'novalidate'}}) }}

    <div class="form-group-custom">
        {{ form_widget(form.description, {'attr': {'placeholder': 'Description...', 'class': 'form-input-custom'}}) }}
        <i class="fa fa-edit form-icon-custom"></i>
    </div>
    {{ form_errors(form.description, {'attr': {'class': 'form-error-custom'}}) }}

    <div class="form-group-custom">
        {{ form_widget(form.montant, {'attr': {'placeholder': 'Montant (ariary)', 'step': '0.01', 'class': 'form-input-custom'}}) }}
    </div>
    {{ form_errors(form.montant, {'attr': {'class': 'form-error-custom'}}) }}

    <div class="form-group-custom">
        {{ form_widget(form.date, {'attr': {'class': 'form-input-custom'}}) }}
        <i class="fa fa-calendar-alt form-icon-custom"></i>
    </div>
    {{ form_errors(form.date, {'attr': {'class': 'form-error-custom'}}) }}

    {% if form.categorie is defined %}
        <div class="form-group-custom">
            {{ form_widget(form.categorie, {'attr': {'class': 'form-input-custom'}}) }}
            <i class="fa fa-tags form-icon-custom"></i>
        </div>
        {{ form_errors(form.categorie, {'attr': {'class': 'form-error-custom'}}) }}
    {% endif %}

    {{ form_rest(form) }}
    <button type="submit" class="form-submit-btn">Modifier</button>
    
{{ form_end(form) }}